<div class="doc-header">
  <div class="firma-info">
    <div class="firma-name">{{firma.firma}}</div>
    {{#if firma.zusatz}}<div class="firma-sub">{{firma.zusatz}}</div>{{/if}}
    <div class="firma-sub">{{firma.strasse}} · {{firma.ort}}</div>
  </div>
  <img src="data:image/svg+xml;base64,{{logoBase64}}" class="logo" alt="Logo">
</div>
<hr class="header-rule">
